$mobile-width: 767px;
$tablet-width: 1023px;
$white-color: #ffffff;
$black-color: #484848;
$lightblue-color: #1fc0fc;
$yellow-color: #ffc341;
$fira-font:  "Fira Sans", "Arial", sans-serif;
$montserrat-font:  "Montserrat", "Arial", sans-serif;
$raleway-font:  "Raleway", "Arial", sans-serif;
