.about__title {
  font-family: $montserrat-font;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-align: center;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.about__text {
  width: 52.7%;
  height: auto;
  margin: 0 auto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  text-align: center;
  color: $black-color;
}

.about__video-container {
  position: relative;
  width: 63.7%;
  height: auto;
  margin: 0 auto;
}

.about__video-pic {
  width: 100%;
  height: auto;
}

.small-screen {
  display: none;
}

.about__play {
  position: absolute;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
}

.about__play-btn {
  background: transparent;
  border: none;
}

@media (max-width: $tablet-width) {
  .about__title {
    font-size: 32px;
  }

  .about__text {
    font-size: 15px;
  }
}

@media (max-width: $mobile-width) {
  .small-screen {
    display: block;
  }

  .big-screen {
    display: none;
  }
}
