.blogs {
  width: 100%;
  height: auto;
  padding-top: 100px;
}

.blogs__container {
  position: relative;
  width: 100%;
  height: auto;
}

.blogs__image {
  width: 100%;
  height: auto;
}

.blogs__image--small-screen {
  display: none;
}

.blogs__wrapper {
  position: absolute;
  width: 395px;
  height: auto;
  right: 13%;
  top: 20%;
}

.blogs__title {
  margin-bottom: 20px;
  font-family: $montserrat-font;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.blogs__text {
  margin-bottom: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 170%;
  color: #FFFFFF;
  opacity: 0.87;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.blogs__button {
  display: flex;
  align-items: center;
  width: 230px;
  height: 59px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  font-variant: small-caps;
  padding-right: 0;
  padding-left: 40px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
}

.blogs__button-image {
  margin-right: 10px;
}

.blogs__text--break {
  display: none;
}

@media (max-width: $tablet-width) {
  .blogs__wrapper {
    right: 13%;
    top: 20%;
  }

  .blogs__text {
    margin-bottom: 15px;
  }
}

@media (max-width: $mobile-width) {
  .blogs {
    padding-top: 0;
  }

  .blogs__container {
    padding-top: 75px;
  }

  .blogs__wrapper {
    width: 320px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 25%;
    right: calc(50% - 160px);
    top: 0;
  }

  .blogs__title {
    margin-bottom: 30%;
    text-align: center;
  }

  .blogs__text {
    padding-left: 7%;
    padding-right: 7%;
    margin-bottom: 18%;
    font-size: 16px;
    line-height: 160%;
  }

  .blogs__button {
    width: 264px;
    margin-left: 30px;
    padding-left: 55px;
    font-size: 15px;
    line-height: 20px;
  }

  .blogs__button-image {
    margin-right: 8px;
  }

  //---------- toggles ---------
  .blogs__image--big-screen {
    display: none;
  }

  .blogs__image--small-screen {
    display: block;
  }

  .blogs__text--break {
    display: block;
  }
}
