.footer {
  width: 100%;
  height: auto;
  border-top: 1px solid $black-color;
}

.footer__list {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding-left: 8%;
  padding-right: 7.7%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__social {
  width: 130px;
  opacity: 0.2;
}


.footer__copyright {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  opacity: 0.5;
  padding-left: 30px;
  padding-top: 5px;
}
