.modal-order {
  display: none;
  position: absolute;
  width: 480px;
  min-height: 520px;
  top: calc(50vh - 240px);
  left: calc(50vw - 240px);
  padding-left: 48px;
  padding-top: 32px;
  padding-right: 32px;
  background-color: $white-color;
  z-index: 1000;
}

.modal-order__close-btn {
  display: block;
  font-size: 0;
  width: 18px;
  height: 18px;
  margin-left: auto;
  background-color: transparent;
  background-image: url("../img/btn-close-18-17.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: none;
  cursor: pointer;
}

.modal-order__close-btn:hover {
  opacity: 0.4;
}

.modal-order__close-btn:active {
  outline: none;
}



.modal-order__title {
  font-family: $montserrat-font;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
  margin-bottom: 16px;
}

.modal-order__text {
  padding-right: 48px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  margin-bottom: 32px;
}

.modal-order_text-break {
  display: none;
}

.modal-order__form-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-order__form-field:last-child {
  margin-bottom: 24px;
}

.modal-order__form-input {
  width: 360px;
  height: 60px;
  padding-left: 30px;
  border: 2px solid #e3e3e3;
  border-radius: 30px;
}

.modal-order__form-input:focus {
  border: 2px solid #ffc341;
  outline: none;
}


.modal-order__form-input::-webkit-input-placeholder {/*WebKitbrowsers*/
  font-style: normal;
  text-transform: uppercase;
  color: $black-color;
  opacity: 0.5;
}

.modal-order__form-input:-moz-placeholder {/*MozillaFirefox4to18*/
  font-weight: 500;
  text-transform: uppercase;
  color: $black-color;
  opacity: 0.5;
}

.modal-order__form-input::-moz-placeholder {/*MozillaFirefox19+*/
  font-size: 17px;
  text-transform: uppercase;
  color: $black-color;
  opacity: 0.5;
}

.modal-order__form-input:-ms-input-placeholder {/*InternetExplorer10+*/
  line-height: 20px;
  text-transform: uppercase;
  color: $black-color;
  opacity: 0.5;
}

.modal-order__wrapper {
  display: flex;
  flex-direction: column;
}

.modal-order__btn {
  width: 264px;
  min-height: 59px;
  margin-left: 40px;
  margin-bottom: 16px;
  order: 1;
  cursor: pointer;
}

.agreement__wrapper {
  order: 2;
}

.agreement__label {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 150%;
  opacity: 0.74;
  padding-left: 60px;
  padding-right: 100px;
  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 35px 0;
}

//.agreement__label:before {
// position: absolute;
//  width: 16px;
//  height: 16px;
//  left: 0px;
//  top: 0;
//  border: 2px solid orange;
//  z-index: 10000;
//}

.agreement__inp:not(:checked) ~ .agreement__label[for="modal-agreement"] {
  background-image: url("../img/checkbox.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 35px 0;
}

.agreement__inp:checked ~ .agreement__label[for="modal-agreement"] {
  background-image: url("../img/checkbox-checked.svg");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 35px 0;
}

.agreement__inp:not(:checked) ~ .agreement__label[for="modal-agreement"]:before {
  background-image: url("../img/checkbox.png");
}

.agreement__inp:checked ~ .agreement__label[for="modal-agreement"]:before {
  background-image: url("../img/checkbox-checked.svg");
}
//input:invalid {
//  border: 2px dashed red;
//}
//
//input:valid {
//  border: 2px solid black;
//}
.small-name,
.small-phone {
  display: none;
  position: absolute;
  left: 30px;
  bottom: -15px;
  color: red;
}

@media (max-width: $mobile-width) {
  .modal-order {
    display: none;
    width: 320px;
    min-height: 768px;
    top: calc(50vh - 160px);
    left: calc(50vw - 160px);
    padding: 15px;
    padding-top: 24px;
  }

  .modal-order__close-btn {
    margin-bottom: 120px;
  }

  .modal-order__title {
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 16px;
  }

  .modal-order__text {
    width: 100%;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
  }

  .modal-order_text-break {
    display: block;
  }

  .modal-order__form-input {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 8px;
    height: 60px;
    padding-left: 30px;
    border: 2px solid #E3E3E3;
    border-radius: 30px;
  }

  .modal-order__form-input:last-child {
    margin-bottom: 24px;
  }

  .modal-order__btn {
    width: 264px;
    min-height: 59px;
    margin: 0 auto;
    margin-bottom: 16px;
    order: 1;
  }

  .agreement__label {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 150%;
    opacity: 0.74;
    padding-left: 35px;
    padding-right: 10px;
    background-position: 10px 0;
  }
}
