.programs {
  width: 100%;
  min-height: 480px;
  padding-left: 15.3%;
  padding-right: 23%;
  background-image: url("../img/programs-sketch_Bg-desktop.png");
  background-repeat: no-repeat;
  background-size: 680px 426px;
  background-position: right 0 top 0;
}

.programs__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.programs__title {
  margin-bottom: 70px;
  font-family: $montserrat-font;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.toggles__list {
  width: 27.1%;
  max-width: 260px;
}

.toggles__item {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 70px;
  cursor: pointer;
}

.toggles__item:hover:not(:focus) {
  color: $yellow-color;
}

.toggles__item:focus {
  outline: none;
}

//.toggles__item:hover:not(:active) {
//  outline: none;
//  color: $yellow-color;
//}

.toggles__item-active {
  color: $white-color;
  text-transform: uppercase;
  background-image: url("../img/programs-yellow-bg.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 0;
}

.toggles__icon-wrapper {
  width: 31.1%;
  height: 36px;
}

.toggles__item:nth-child(1) .toggles__icon-wrapper {
  background-image: url("../img/programs-stars-desktop.png");
  background-repeat: no-repeat;
  background-size: 28px 33px;
  background-position: center center;
}

.toggles__item:nth-child(1):hover:not(:focus) .toggles__icon-wrapper {
  background-image: url("../img/programs-stars-desktop-hover.png");
  background-repeat: no-repeat;
  background-size: 28px 33px;
  background-position: center center;
}

.toggles__item:nth-child(1):focus .toggles__icon-wrapper {
  background-image: url("../img/programs-stars-desktop-active.png");
  background-repeat: no-repeat;
  background-size: 28px 33px;
  background-position: center center;
}

.toggles__item:nth-child(2) .toggles__icon-wrapper {
  background-image: url("../img/programs-academic-desktop.png");
  background-repeat: no-repeat;
  background-size: 36px 35px;
  background-position: center center;
}

.toggles__item:nth-child(2):hover:not(:focus) .toggles__icon-wrapper {
  background-image: url("../img/programs-academic-desktop-hover.png");
  background-repeat: no-repeat;
  background-size: 36px 35px;
  background-position: center center;
}

.toggles__item:nth-child(2):focus .toggles__icon-wrapper {
  background-image: url("../img/programs-academic-desktop-active.png");
  background-repeat: no-repeat;
  background-size: 36px 35px;
  background-position: center center;
}

.toggles__item:nth-child(3) .toggles__icon-wrapper {
  background-image: url("../img/programs-portfel-desktop.png");
  background-repeat: no-repeat;
  background-size: 32px 25px;
  background-position: center center;
}

.toggles__item:nth-child(3):hover:not(:focus) .toggles__icon-wrapper {
  background-image: url("../img/programs-portfel-desktop-hover.png");
  background-repeat: no-repeat;
  background-size: 32px 25px;
  background-position: center center;
}

.toggles__item:nth-child(3):focus .toggles__icon-wrapper {
  background-image: url("../img/programs-portfel-desktop-active.png");
  background-repeat: no-repeat;
  background-size: 32px 25px;
  background-position: center center;
}

.toggles__item:nth-child(4) .toggles__icon-wrapper {
  background-image: url("../img/programs-hands-desktop.png");
  background-repeat: no-repeat;
  background-size: 32px 29px;
  background-position: center center;
}

.toggles__item:nth-child(4):hover:not(:focus) .toggles__icon-wrapper {
  background-image: url("../img/programs-hands-desktop-hover.png");
  background-repeat: no-repeat;
  background-size: 32px 29px;
  background-position: center center;
}

.toggles__item:nth-child(4):focus .toggles__icon-wrapper {
  background-image: url("../img/programs-hands-desktop-active.png");
  background-repeat: no-repeat;
  background-size: 32px 29px;
  background-position: center center;
}

.toggles__item:nth-child(5) .toggles__icon-wrapper {
  background-image: url("../img/programs-religion-deskop.png");
  background-repeat: no-repeat;
  background-size: 23px 25px;
  background-position: center center;
}

.toggles__item:nth-child(5):hover:not(:focus) .toggles__icon-wrapper {
  background-image: url("../img/programs-religion-deskop-hover.png");
  background-repeat: no-repeat;
  background-size: 23px 25px;
  background-position: center center;
}

.toggles__item:nth-child(5):focus .toggles__icon-wrapper {
  background-image: url("../img/programs-religion-deskop-active.png");
  background-repeat: no-repeat;
  background-size: 23px 25px;
  background-position: center center;
}

//.toggles__item-name {
//  font-style: normal;
//  font-weight: normal;
//  font-size: 15px;
//  line-height: 18px
//}


.content__list {
  width: 65.5%;
  padding-top: 10px;
}

.content__item {
  display: none;
}

.content__item:nth-child(2) {
  display: block;
}

.content__title {
  margin-bottom: 24px;
  font-family: $montserrat-font;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: -0.02em;
}

.content__text {
  margin-bottom: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 170%;
  opacity: 0.87;
}

.content__text:last-child {
  margin-bottom: 0;
}

@media (max-width: $tablet-width) {

}

@media (max-width: $mobile-width) {
  .programs {
    position: relative;
    width: 100%;
    min-height: 480px;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 3%;
    overflow: hidden;
    background-image: url("../img/programs-sketch_phone.png");
    background-size: 296px 201px;
    background-position: right 0 top 100px;
  }

  .programs__wrapper {
    flex-direction: column;
    width: 100% ;
  }

  .programs__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    margin-bottom: 85px;
  }

  .toggles__list {
    position: absolute;
    display: flex;
    width: 100%;
    margin-bottom: 0;
    top: 50px;
    left: -54px;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .toggles__item {
    display: flex;
    padding-right: 15px;
    min-height: 48px;
    margin-right: 10px;
    background-image: none;
    border-radius: 30px;
    font-size: 15px;
    line-height: 19px;
  }

  .toggles__item-active {
    text-transform: uppercase;
    background: linear-gradient(146.13deg, #ffc341 20.46%, #ffd701 65.31%);
  }

  .toggles__icon-wrapper {
    display: flex;
    justify-content: space-around;
    width: 50px;
    height: auto;
  }

  .toggles__icon-wrapper:last-child {
    margin-right: 0;
  }

  .content__list {
    width: 100%;
  }

  .content__title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  .content__text {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 160%;
    padding-right: 10px;
  }

  .content__text:nth-child(3) {
    padding-right: 0;
  }

  .content__text-break {
    display: none;
  }

}
